@font-face {
    font-family: 'PixelCode';
    src: url("fonts/PixelCode.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

footer {
    position: relative;
    bottom: 10px;
    text-align: center;
    font-family: "PixelCode", monospace;
    color: white;
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.container {
    display: block;
    height: 100vh;
}

body {
    background: url('/images/forest2.jpg') no-repeat center center/auto;
}

.left-side {
    position: relative;
    height: 100vh;
    width: 100%;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    color: white;
    padding: 20px;
}

.green-text {
    font-size: 24px;
    font-weight: bold;
    color: #00ff00;
}

.tagline {
    position: absolute;
    top: 80px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Atop Regular';
}

.headline-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.headline {
    margin-top: 0;
    font-family: 'Atop Regular';
}

.cutout-text, .bold-text {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Atop Regular';
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.cutout-text {
    margin-right: 10px;
}

/* Top Navigation */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
    font-family: "PixelCode", monospace;
    font-size: 18px;
}

.nav-link:hover {
    color: #15bed4;
    transform: scale(1.1);
}

.nav-link.active {
    color: #15bed4;
    font-weight: bold;
}

/* Image Grid */
.desktop-grid {
    display: none;
}

.mobile-grid {
    display: none;
}

.image-tile {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-tile:hover {
    transform: scale(1.05);
}

.image-tile img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 1s ease-in-out;
}

.explore-button {
    display: none;
    font-family: "PixelCode", monospace;
}

.desktop-grid {
    display: none;
}

.mobile-grid {
    display: none;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 576px) {
    .headline {
        font-size: 36px;
    }

    .tagline {
        font-size: 16px;
    }

    .mobile-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        margin-top: 80px;
        margin-bottom: 30px;
        gap: 20px;
        padding: 20px;
    }

    .nav-link {
        font-size: 16px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
    .headline {
        font-size: 40px;
    }

    .tagline {
        font-size: 17px;
    }

    .mobile-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        margin-top: 80px;
        margin-bottom: 30px;
        gap: 20px;
        padding: 20px;
    }

    .nav-link {
        font-size: 17px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    .desktop-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .headline {
        font-size: 44px;
    }

    .tagline {
        font-size: 18px;
    }

    .nav-link {
        font-size: 18px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    .desktop-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 20px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .headline {
        font-size: 48px;
    }

    .tagline {
        font-size: 19px;
    }

    .nav-link {
        font-size: 19px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .desktop-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .headline {
        font-size: 52px;
    }

    .tagline {
        font-size: 20px;
    }

    .nav-link {
        font-size: 20px;
    }
}

/* Image Grid */
.image-tile {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-tile:hover {
    transform: scale(1.05);
}

.image-tile img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 1s ease-in-out;
}
