
    @font-face {
    font-family: 'Atop Regular';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Atop-R99O3.woff") format('woff');
    }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Atop Regular';
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    position: relative;
    background: url('images/forest.jpg') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    color: white;
    padding: 20px;
}

.green-text {
    font-size: 24px;
    font-weight: bold;
    color: #00ff00;
}

.tagline {
    position: absolute;
    top: 80px;
    font-size: 15px;
    letter-spacing: 2px;
}

.headline-container {
    position: absolute;
    top: 20px; 
    left: 20px;
    display: flex;
    flex-direction: column;
}

.headline {
    margin-top: 0; /* Remove the top margin */
}

.cutout-text, .bold-text {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Atop Regular';
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
}

.cutout-text {
    margin-right: 10px;
}

.subheading {
    font-style: italic;
    margin-top: 10px;
}

.learn-more {
    position: absolute;
    top: 590px;
    padding: 30px 30px;
    background: #4a4e4a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Atop Regular';
    font-size: 16px;
    color: white;
}

.learn-more:hover {
    background: #00cc00;
}

.right-side {
    flex: 1;
    position: relative;
    background: url('images/greenery.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
    font-family: 'Atop Regular';
}

.navbar a:hover {
    color: #00ff00;
}

.slider-navigation {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diamond {
    width: 10px;
    height: 10px;
    background: white;
    transform: rotate(45deg);
    margin: 5px 0;
    cursor: pointer;
    transition: background 0.3s ease;
}

.diamond:hover {
    background: #00ff00;
}

.arrows {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-arrow, .right-arrow {
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.left-arrow:hover, .right-arrow:hover {
    color: #00ff00;
}
